/* general styles */
@font-face {
  font-family: "Avara";
  src: url("../fonts/Avara-Bold.woff2") format("woff2"),
    url("../fonts/Avara-Bold.woff") format("woff"),
    url("../fonts/Avara-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

:root {
  --green-color: #51c3a6;
  --white-color: #f4e5c9;
  --orange-color: #ff9658;
  --dark-color: #2d2038;
}

body {
  background-color: var(--dark-color);
  background: var(--dark-color) url("../3.png");
  color: var(--white-color);
  font-family: "Avara";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 180%;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100vw;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
.main-text {
  /* color: var(--orange-color); */
  font-size: 3.75rem;
  line-height: 120%;
}

.main-text {
  background: var(--orange-color) url(../cursor.svg);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.secondary-text {
  font-size: 1.5rem;
  color: var(--orange-color);
  line-height: 150%;
}

.link {
  color: var(--white-color);
  transition: all 0.3s ease-out;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.link.underline {
  display: block;
  width: fit-content;
  margin: 0 auto;
}
.center-link {
  text-align: center;
}

.link::after {
  content: "";
  position: absolute;
  background: url("../link-hover.svg");
  height: 25px;
  width: 0;
  left: 0;
  bottom: -1.2ch;
  transition: width 0.3s ease-out;
}
.link.underline::after {
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
  /* width: ; */
}

.link:hover::after,
.link.underline::after {
  width: 100%;
}
.link:hover,
.link.underline {
  color: var(--green-color);
}

.link.underline:hover {
  opacity: 0.65;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(141, 134, 148);
}
::-webkit-scrollbar-thumb {
  background: var(--dark-color) url("../scroll-bg.png") repeat left;
}
::-webkit-scrollbar-thumb:hover {
  background: #2d2038de url("../scroll-bg.png") repeat left;
}

/* header */
header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  max-width: 100vw;
  text-align: right;
  top: 0;
  left: 0;
  padding: 1.25rem 2.5rem;
  z-index: 100;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 0.4s ease-out;
}
@media only screen and (max-width: 400px) {
  header {
    padding: 1.25rem 1.5rem;
    font-size: 0.85rem;
  }
}
.coalition-page header {
  text-align: left;
}

a {
  color: var(--white-color);
  text-decoration: none;
}

/* hero section
  ============= */

.hero {
  min-height: 100vh;
  overflow-x: hidden;
}

.hero-container {
  display: flex;
  gap: 8rem;
  min-height: 100vh;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hero-content {
  color: var(--orange-color);
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 3rem;
}

/* logo hover effect */
.book {
  position: relative;
  transition: all 0.4s ease-in-out;
}
.book:hover {
  transform: scale(1.1);
}

.border {
  overflow: hidden;
  position: absolute;
  left: -1%;
  right: -1%;
  top: -1.5%;
  bottom: 2%;
}
.border > * {
  position: absolute;
}

.border-left {
  left: -0%;
  top: -100%;
  /* mouseout delay */
  transition: all 0.2s ease-in-out 0.3s;
}
.book:hover .border-left {
  /* mousenter delay */
  transition: all 0.1s ease-in-out 0s;
}
.border-bottom {
  left: -100%;
  bottom: 0;
  transition: all 0.1s ease-in-out 0.2s;
}
.book:hover .border-bottom {
  transition: all 0.1s ease-in-out 0.1s;
}
.border-right {
  right: -2%;
  bottom: -100%;
  transition: all 0.1s ease-in-out 0.1s;
}
.book:hover .border-right {
  transition: all 0.1s ease-in-out 0.2s;
}
.border-top {
  right: -100%;
  top: 0%;
  transition: all 0.1s ease-in-out 0s;
}
.book:hover .border-top {
  transition: all 0.1s ease-in-out 0.3s;
}

.book:hover .border-left {
  top: 1.5%;
}
.book:hover .border-bottom {
  left: 1%;
}
.book:hover .border-right {
  bottom: 0%;
}
.book:hover .border-top {
  right: 1%;
}

@media only screen and (max-width: 80rem) {
  .border-top,
  .border-bottom {
    width: 320px;
  }
  .border-left,
  .border-right {
    height: 403px;
  }
}
/*  */

.logo {
  height: auto;
}

.background,
.background img {
  position: absolute;
  width: 23px;
  top: -1%;
  left: -2%;
  right: 0;
  bottom: 0;
  max-height: 130vh;
  width: 130vw;
  height: auto;
  z-index: -2;
}
.background .layer-4 {
  mix-blend-mode: luminosity;
  opacity: 0.5;
}

@media only screen and (max-width: 58rem) {
  .hero {
    background-image: url("../mobile-hero-bg.png");
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
  }
  .hero-container {
    flex-direction: column-reverse;
    padding: 4rem 0;
    min-height: unset;
    gap: 3rem;
    text-align: center;
  }
  .hero {
    min-height: unset;
  }
  .background {
    display: none;
  }
  .background,
  .background img {
    width: 100%;
    height: auto;
  }
}

/* content
=========== */
section {
  margin: 9rem 7vw;
}

/* about section 
  ============== */
.wtf {
  text-align: center;
  max-width: 70rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.wtf .description {
  max-width: 35rem;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding-top: 5rem;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 21.9rem;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.card-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 21.9rem;
  transition: all 0.3s ease-out;
  overflow: hidden;
  border: 1px solid var(--orange-color);
  border-radius: 16px;
}

.card p {
  font-size: 1rem;
  line-height: 150%;
  margin: 1.7rem;
}

.card-container:nth-of-type(1) .card {
  background-image: url("../about-bg-1.svg");
}
.card-container:nth-of-type(2) .card {
  background-image: url("../about-bg-2.svg");
}
.card-container:nth-of-type(3) .card {
  background-image: url("../about-bg-3.svg");
}
.card-container:nth-of-type(4) .card {
  background-image: url("../about-bg-4.svg");
}
.card-container:nth-of-type(5) .card {
  background-image: url("../about-bg-5.svg");
}
.card-container:nth-of-type(6) .card {
  background-image: url("../spiral-8.svg");
}

@media only screen and (min-width: 75rem) {
  .card-container:hover {
    height: 20rem;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 75rem) {
  /* .card,
  .card-container {
    width: 18rem;
    height: 18.9rem;
  } */
}
@media only screen and (max-width: 51rem) {
  .card,
  .card-container {
    width: 13rem;
    height: 15rem;
    flex-grow: 1;
  }
  .card p {
    margin: 3vw;
    font-size: 0.8rem;
  }
}

/* past comics 
============== */
.past-comics {
  text-align: center;
}

.covers {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.cover2 {
  z-index: 2;
}
.cover3 {
  z-index: 3;
}

.cover img {
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.cover img:hover {
  transform: scale(1.1);
}

.coupon {
  padding-bottom: 3.5rem;
}

@media only screen and (max-width: 35.5rem) {
  .cover1 {
    transform: translate(100px, 10px) rotate(-15deg);
  }
  .cover3 {
    transform: translate(-110px, 10px) rotate(15deg);
  }
}
/* coming soon comic 4 */
.coming-soon {
  position: relative;
}

.coming-soon-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: -1;
}
.coming-soon .main-text {
  padding-bottom: 1rem;
}

/* projects */
.projects h2 {
  text-align: center;
}
.projects-container {
  max-width: min(72rem, 95%);
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  padding: min(8%, 3rem) min(10%, 4rem);
  border: 1px solid var(--orange-color);
  border-radius: 16px;
  position: relative;
  width: 24rem;
}
.project-container svg {
  box-sizing: border-box;
  padding: 2rem;
  height: 100%;
  width: auto;
  position: absolute;
  right: 0;
  left: 45%;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  cursor: pointer;
}
.project-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  min-width: 40%;
  max-width: 75%;
  z-index: 1;
}

.project-content h3 {
  text-transform: uppercase;
}
@media only screen and (max-width: 1360px) {
  .project-content h3 {
    font-size: 1.2rem;
  }
  .project-content p,
  .project-content a {
    font-size: 1rem;
  }
  .project-container {
    width: 18rem;
    padding: 3% 5%;
  }
}
@media only screen and (max-width: 500px) {
 
  .project-content {
    font-size: 1rem;
  }
  .project-content h3 {
    font-size: 0.9rem;
    line-height: 150%;
  }
  .project-container {
    width: 18rem;
    padding: 2rem 1rem;
  }
}

.project-content a {
  line-height: 1.1;
  width: fit-content;
}

.orange-star,
.green-star {
  transition: transform 1s ease-in-out;
  transform-origin: 50% 50%;
}
.green-star {
  transition: transform 1.3s ease-in-out;
}
.greenpill:hover .orange-star,
.project-content:hover + .greenpill .orange-star {
  transform-origin: 50% 50%;
  transform: rotate(-135deg);
}
.greenpill:hover .green-star,
.project-content:hover + .greenpill .green-star {
  transform-origin: 50% 50%;
  transform: rotate(105deg);
}

.green {
  transition: all 0.6s ease-out;
  color: transparent;
}
.project-content:hover + svg .green,
svg:hover .green {
  color: #51c3a6;
}

/* footer */
footer {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}
.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.footer-icons svg {
  color: var(--white-color);
  transition: color 0.4s ease-out;
}
.footer-icons svg:hover {
  color: var(--green-color);
}

@media only screen and (max-width: 50rem) {
  .footer-icons svg {
    width: 40px;
    height: 40px;
  }
}

/* fonts 
 ========*/
@media only screen and (max-width: 71.2rem) {
  /* 1140px */
  .coming-soon-text .main-text {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 50rem) {
  /* 800px */
  body {
    font-size: 1.2rem;
  }
  h1,
  h2,
  .main-text {
    font-size: 3rem;
  }
  .coming-soon-text .main-text {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 45rem) {
  .coming-soon-text .main-text {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 36rem) {
  /* 576px */
  section {
    margin: 7rem 6vw;
  }
  .main-text {
    font-size: 1.8rem;
  }
  .coming-soon-text .main-text {
    font-size: 1.25rem;
  }
  .secondary-text {
    font-size: 1.25rem;
  }
}

/* coalition page
================= */
.coalition-page .hero {
  min-height: 100vh;
}
.coalition-page .hero-container {
  justify-content: space-evenly;
  min-height: 100vh;
  margin: 0 2rem;
}
@media only screen and (max-width: 1400px) {
  .coalition-page .hero-container img {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 36rem) {
  .coalition-page .main-text {
    font-size: 2.25rem;
  }
  .coalition-page .hero-container img {
    width: 70%;
    height: auto;
  }
}
/* info cards */
.info-card {
  width: 85%;
  max-width: 50rem;
  margin: 4.5rem auto;
}
.info-card h2 {
  margin-bottom: 1.75rem;
}
.orange {
  color: var(--orange-color);
}
.info-card_content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  text-align: justify;
}
.info-card_description {
  text-align: justify;
}
.info-card_diagram {
  margin: 0 auto;
}
@media only screen and (max-width: 1400px) {
  .info-card_description {
    font-size: 1.14rem;
    line-height: 170%;
  }
}
@media only screen and (max-width: 700px) {
  .info-card_description {
    font-size: 1rem;
  }
}

/* section divider */
.section-divider {
  max-width: 85%;
  margin: 2.5rem auto;
  display: flex;
  justify-content: center;
}
